openapi: 3.1.0
info:
  title: Aikido Security Public REST Clouds Code Repositories API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 representation of the Aikido Security public REST API

    derived from https://apidocs.aikido.dev/ (llms.txt index and reference pages).

    Aikido is an all-in-one application security platform exposing endpoints for

    issues, code repositories, containers, clouds, domains, compliance, teams,

    users, webhooks, Zen app protection, and more.

    '
  contact:
    name: Aikido Security
    url: https://apidocs.aikido.dev/
servers:
- url: https://app.aikido.dev/api/public/v1
  description: EU (default) region
- url: https://app.us.aikido.dev/api/public/v1
  description: US region
- url: https://app.me.aikido.dev/api/public/v1
  description: Middle East region
security:
- BearerAuth: []
tags:
- name: Code Repositories
paths:
  /repositories/code:
    get:
      tags:
      - Code Repositories
      summary: List code repositories
      operationId: listCodeRepos
      responses:
        '200':
          description: OK
  /repositories/code/{id}:
    get:
      tags:
      - Code Repositories
      summary: Get code repository detail
      operationId: getCodeRepoDetail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Code Repositories
      summary: Delete code repository
      operationId: deleteCodeRepo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Deleted
  /repositories/code/{id}/scan:
    post:
      tags:
      - Code Repositories
      summary: Scan a code repository
      operationId: scanCodeRepo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: Scan triggered
  /repositories/code/{id}/sbom:
    get:
      tags:
      - Code Repositories
      summary: Export SBOM (packages and licenses) for a code repository
      operationId: exportCodeRepoLicenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer access token obtained via POST https://app.aikido.dev/api/oauth/token

        with grant_type=client_credentials and Basic auth (client_id:client_secret).

        '
