openapi: 3.1.0
info:
  title: Aikido Security Public REST Clouds Issues API
  version: '1.0'
  description: 'Best-effort OpenAPI 3.1 representation of the Aikido Security public REST API

    derived from https://apidocs.aikido.dev/ (llms.txt index and reference pages).

    Aikido is an all-in-one application security platform exposing endpoints for

    issues, code repositories, containers, clouds, domains, compliance, teams,

    users, webhooks, Zen app protection, and more.

    '
  contact:
    name: Aikido Security
    url: https://apidocs.aikido.dev/
servers:
- url: https://app.aikido.dev/api/public/v1
  description: EU (default) region
- url: https://app.us.aikido.dev/api/public/v1
  description: US region
- url: https://app.me.aikido.dev/api/public/v1
  description: Middle East region
security:
- BearerAuth: []
tags:
- name: Issues
paths:
  /issues:
    get:
      tags:
      - Issues
      summary: Export all issues
      operationId: exportIssues
      responses:
        '200':
          description: OK
  /issues/{id}:
    get:
      tags:
      - Issues
      summary: Get issue detail
      operationId: getIssueDetail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /issues/{id}/ignore:
    post:
      tags:
      - Issues
      summary: Ignore an issue
      operationId: ignoreIssue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /issues/{id}/snooze:
    post:
      tags:
      - Issues
      summary: Snooze an issue
      operationId: snoozeIssue
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
  /issues/groups/open:
    get:
      tags:
      - Issues
      summary: List open issue groups
      operationId: listOpenIssueGroups
      responses:
        '200':
          description: OK
  /issues/groups/{id}:
    get:
      tags:
      - Issues
      summary: Get issue group detail
      operationId: getIssueGroupDetails
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer access token obtained via POST https://app.aikido.dev/api/oauth/token

        with grant_type=client_credentials and Basic auth (client_id:client_secret).

        '
