openapi: 3.1.0
info:
  title: Aikido Security Public REST API
  version: "1.0"
  description: |
    Best-effort OpenAPI 3.1 representation of the Aikido Security public REST API
    derived from https://apidocs.aikido.dev/ (llms.txt index and reference pages).
    Aikido is an all-in-one application security platform exposing endpoints for
    issues, code repositories, containers, clouds, domains, compliance, teams,
    users, webhooks, Zen app protection, and more.
  contact:
    name: Aikido Security
    url: https://apidocs.aikido.dev/
servers:
  - url: https://app.aikido.dev/api/public/v1
    description: EU (default) region
  - url: https://app.us.aikido.dev/api/public/v1
    description: US region
  - url: https://app.me.aikido.dev/api/public/v1
    description: Middle East region
tags:
  - name: Authorization
  - name: Clouds
  - name: Code Repositories
  - name: Containers
  - name: Compliance
  - name: Custom Rules
  - name: Domains
  - name: Issues
  - name: Pentest
  - name: Reports
  - name: Task Tracking
  - name: Teams
  - name: Users
  - name: Webhooks
  - name: Workspace
  - name: Zen
  - name: Licenses
paths:
  /repositories/code:
    get:
      tags: [Code Repositories]
      summary: List code repositories
      operationId: listCodeRepos
      responses:
        '200':
          description: OK
  /repositories/code/{id}:
    get:
      tags: [Code Repositories]
      summary: Get code repository detail
      operationId: getCodeRepoDetail
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
    delete:
      tags: [Code Repositories]
      summary: Delete code repository
      operationId: deleteCodeRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Deleted
  /repositories/code/{id}/scan:
    post:
      tags: [Code Repositories]
      summary: Scan a code repository
      operationId: scanCodeRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '202':
          description: Scan triggered
  /repositories/code/{id}/sbom:
    get:
      tags: [Code Repositories]
      summary: Export SBOM (packages and licenses) for a code repository
      operationId: exportCodeRepoLicenses
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
  /containers:
    get:
      tags: [Containers]
      summary: List container repositories
      operationId: listContainerRepos
      responses:
        '200': { description: OK }
  /containers/{id}:
    get:
      tags: [Containers]
      summary: Get container repository
      operationId: getContainerRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    delete:
      tags: [Containers]
      summary: Delete container
      operationId: deleteContainer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
  /containers/{id}/scan:
    post:
      tags: [Containers]
      summary: Scan container
      operationId: scanContainer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '202': { description: Scan triggered }
  /clouds:
    get:
      tags: [Clouds]
      summary: List connected clouds
      operationId: listClouds
      responses:
        '200': { description: OK }
  /clouds/{id}:
    delete:
      tags: [Clouds]
      summary: Remove a cloud
      operationId: removeCloud
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Removed }
  /clouds/aws:
    post:
      tags: [Clouds]
      summary: Connect AWS cloud
      operationId: connectAwsCloud
      responses:
        '201': { description: Connected }
  /clouds/azure:
    post:
      tags: [Clouds]
      summary: Connect Azure cloud
      operationId: connectAzureCloud
      responses:
        '201': { description: Connected }
  /clouds/gcp:
    post:
      tags: [Clouds]
      summary: Connect GCP cloud
      operationId: connectGcpCloud
      responses:
        '201': { description: Connected }
  /clouds/kubernetes:
    post:
      tags: [Clouds]
      summary: Create Kubernetes cloud connection
      operationId: createKubernetesCloud
      responses:
        '201': { description: Connected }
  /clouds/assets:
    post:
      tags: [Clouds]
      summary: List cloud assets
      operationId: listCloudAssets
      responses:
        '200': { description: OK }
  /domains:
    get:
      tags: [Domains]
      summary: List domains
      operationId: listDomains
      responses:
        '200': { description: OK }
    post:
      tags: [Domains]
      summary: Create domain
      operationId: createDomain
      responses:
        '201': { description: Created }
  /domains/{id}:
    delete:
      tags: [Domains]
      summary: Remove domain
      operationId: removeDomain
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Removed }
  /domains/{id}/scan:
    post:
      tags: [Domains]
      summary: Start domain scan
      operationId: startDomainScan
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '202': { description: Scan started }
  /issues:
    get:
      tags: [Issues]
      summary: Export all issues
      operationId: exportIssues
      responses:
        '200': { description: OK }
  /issues/{id}:
    get:
      tags: [Issues]
      summary: Get issue detail
      operationId: getIssueDetail
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /issues/{id}/ignore:
    post:
      tags: [Issues]
      summary: Ignore an issue
      operationId: ignoreIssue
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /issues/{id}/snooze:
    post:
      tags: [Issues]
      summary: Snooze an issue
      operationId: snoozeIssue
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /issues/groups/open:
    get:
      tags: [Issues]
      summary: List open issue groups
      operationId: listOpenIssueGroups
      responses:
        '200': { description: OK }
  /issues/groups/{id}:
    get:
      tags: [Issues]
      summary: Get issue group detail
      operationId: getIssueGroupDetails
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /compliance/cis:
    get:
      tags: [Compliance]
      summary: CIS compliance overview
      operationId: getCisComplianceOverview
      responses:
        '200': { description: OK }
  /compliance/cis-aws:
    get:
      tags: [Compliance]
      summary: CIS AWS compliance overview
      operationId: getCisAwsComplianceOverview
      responses:
        '200': { description: OK }
  /compliance/iso27001:
    get:
      tags: [Compliance]
      summary: ISO 27001 compliance overview
      operationId: getIsoComplianceOverview
      responses:
        '200': { description: OK }
  /compliance/nis2:
    get:
      tags: [Compliance]
      summary: NIS2 compliance overview
      operationId: getNis2ComplianceOverview
      responses:
        '200': { description: OK }
  /compliance/soc2:
    get:
      tags: [Compliance]
      summary: SOC2 compliance overview
      operationId: getSoc2ComplianceOverview
      responses:
        '200': { description: OK }
  /custom-rules:
    get:
      tags: [Custom Rules]
      summary: List custom Semgrep rules
      operationId: listCustomRules
      responses:
        '200': { description: OK }
    post:
      tags: [Custom Rules]
      summary: Create custom Semgrep rule
      operationId: createCustomRule
      responses:
        '201': { description: Created }
  /custom-rules/{id}:
    get:
      tags: [Custom Rules]
      summary: Get custom rule
      operationId: getCustomRule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    delete:
      tags: [Custom Rules]
      summary: Remove custom rule
      operationId: removeCustomRule
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Removed }
  /teams:
    get:
      tags: [Teams]
      summary: List teams
      operationId: listTeams
      responses:
        '200': { description: OK }
    post:
      tags: [Teams]
      summary: Create team
      operationId: createTeam
      responses:
        '201': { description: Created }
  /teams/{id}:
    put:
      tags: [Teams]
      summary: Update team
      operationId: updateTeam
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
    delete:
      tags: [Teams]
      summary: Delete team
      operationId: deleteTeam
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Deleted }
  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      responses:
        '200': { description: OK }
  /users/{id}:
    get:
      tags: [Users]
      summary: Get user
      operationId: getUser
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200': { description: OK }
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200': { description: OK }
    post:
      tags: [Webhooks]
      summary: Add webhook
      operationId: addWebhook
      responses:
        '201': { description: Created }
  /webhooks/{id}:
    delete:
      tags: [Webhooks]
      summary: Remove webhook
      operationId: removeWebhook
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { description: Removed }
  /zen/apps:
    get:
      tags: [Zen]
      summary: List Zen apps
      operationId: listApps
      responses:
        '200': { description: OK }
    post:
      tags: [Zen]
      summary: Create Zen app
      operationId: createApp
      responses:
        '201': { description: Created }
  /zen/apps/{id}:
    get:
      tags: [Zen]
      summary: Get Zen app
      operationId: getApp
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
    delete:
      tags: [Zen]
      summary: Delete Zen app
      operationId: deleteApp
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: Deleted }
  /workspace:
    get:
      tags: [Workspace]
      summary: Get workspace info
      operationId: getWorkspaceInfo
      responses:
        '200': { description: OK }
  /openapi:
    get:
      tags: [Workspace]
      summary: Get full OpenAPI spec of Aikido Public REST API
      operationId: getOpenApiSpec
      responses:
        '200':
          description: OpenAPI 3.x JSON
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Bearer access token obtained via POST https://app.aikido.dev/api/oauth/token
        with grant_type=client_credentials and Basic auth (client_id:client_secret).
security:
  - BearerAuth: []
